.row {
    color: white; /* Set the color of the text to white */
    margin-left: 20px; /* Add a left margin */
}

.row_posters {
    display: flex; /* Use flexbox for layout */
    overflow-y: hidden; /* Hide vertical overflow (content that goes off the bottom of the container) */
    overflow-x: scroll; /* Allow horizontal scrolling for content that goes off the right of the container */
    padding: 20px; /* Add padding inside the container */
}

.row_posters::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for Webkit browsers */
}

.row_poster {
    max-height: 100px; /* Set a maximum height for the poster */
    object-fit: contain; /* Resize the poster to fit its container while preserving aspect ratio */
    margin-right: 10px; /* Add a right margin */
    width: 100%; /* Set the width to fill its container */
    transition: transform 450ms; /* Animate any changes to the transform property over 450 milliseconds */
}

.row_poster:hover {
    transform: scale(1.08); /* When hovering over the poster, scale it up to 108% */
    opacity: 1; /* Set the opacity to fully opaque when hovered */
}

.row_posterLarge {
    max-height: 250px; /* Set a maximum height for the large poster */
}

.row_posterLarge:hover {
    transform: scale(1.09); /* When hovering over the large poster, scale it up to 109% */
    opacity: 1; /* Set the opacity to fully opaque when hovered */
}
